/* Links */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Gravitas+One&family=Knewave&family=Pacifico&family=Yellowtail&display=swap");
/* Setup */
/* Components */
.todo-index {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.todo-index .todos {
  position: relative;
  display: grid;
}
.todo-index .todos .todo-filter {
  font-size: 1.5rem;
  color: rgb(34, 34, 34);
  background-color: rgb(231, 136, 21);
  padding: 10px;
}
.todo-index .todos .todo-filter select {
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Audiowide;
  color: rgb(34, 34, 34);
  background-color: rgb(231, 136, 21);
  border: solid rgb(34, 34, 34) 2px;
  border-radius: 10px;
}
.todo-index .todos .add-todo {
  margin-top: -56px;
  justify-self: end;
  top: 0px;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border: none;
  color: rgb(231, 136, 21);
  background-color: rgb(64, 64, 64);
  font-size: 3rem;
}
.todo-index .todos .add-todo:hover {
  background-color: rgb(84, 84, 84);
}
.todo-index .todos .data-table {
  font-size: 1.25rem;
  border: none;
}
.todo-index .todos .data-table td {
  border: solid rgb(84, 84, 84) 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  height: 50px;
}
.todo-index .todos .data-table .symbol {
  text-align: center;
}
.todo-index .todos .data-table .symbol i {
  cursor: pointer;
}
.todo-index .todos .data-table .symbol i:hover {
  color: rgb(186, 122, 45);
}
.todo-index .todos .data-table .importance {
  width: 20%;
}
.todo-index .todos .data-table .importance i {
  margin-left: 10px;
}
.todo-index .todos .data-table .txt {
  width: 70%;
}
.todo-index .todos .data-table .data-table-row-edit {
  background-color: rgb(64, 64, 64);
  height: 100%;
  align-content: center;
}
.todo-index .todos .data-table .data-table-row-edit input, .todo-index .todos .data-table .data-table-row-edit select, .todo-index .todos .data-table .data-table-row-edit button {
  cursor: pointer;
  font-size: 1.25rem;
  font-family: Audiowide;
  color: rgb(34, 34, 34);
  background-color: rgb(231, 136, 21);
  border: solid rgb(34, 34, 34) 2px;
  border-radius: 5px;
  margin-left: 10px;
}
.todo-index .todos .data-table .data-table-row-edit input:hover, .todo-index .todos .data-table .data-table-row-edit select:hover, .todo-index .todos .data-table .data-table-row-edit button:hover {
  background-color: rgb(186, 122, 45);
}
.todo-index .todos .data-table .data-table-row-edit button {
  color: rgb(231, 136, 21);
  background-color: rgb(64, 64, 64);
  border-color: rgb(231, 136, 21);
}
.todo-index .todos .data-table .data-table-row-edit button:hover {
  background-color: rgb(40, 40, 40);
}

.login-signup {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(231, 136, 21);
}
.login-signup .window {
  display: grid;
  align-content: space-around;
  border: solid black 2px;
  width: 20vw;
  height: 60vh;
  grid-template-rows: 2fr 3fr 2fr;
}
.login-signup .window h3 {
  text-align: center;
  align-content: center;
}
.login-signup .window form {
  display: grid;
  align-content: space-around;
}
.login-signup .window form input {
  text-align: center;
}
.login-signup .window .switch {
  background-color: rgb(34, 34, 34);
  text-align: center;
  align-content: center;
}

.dashboard {
  position: relative;
}
.dashboard h2 {
  justify-self: center;
}
.dashboard .dashboard-and-title {
  position: fixed;
  top: 5vh;
}

.chart {
  display: table;
  table-layout: fixed;
  width: 60%;
  max-width: 700px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 2em;
  background-image: linear-gradient(to top, rgb(64, 64, 64), rgba(0, 0, 0, 0) 5%);
  background-size: 100% 50px;
  background-position: left top;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
  text-align: center;
}
.chart span {
  justify-self: center;
  margin: 0px;
  width: 5vw;
  display: block;
  color: rgb(34, 34, 34);
  background-color: rgb(231, 136, 21);
  animation: draw 1s ease-in-out;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding-top: 5px 1em 0;
  text-align: center;
  content: attr(title);
  color: rgb(231, 136, 21);
}

.user-msg {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: rgb(34, 34, 34);
  background-color: rgb(231, 136, 21);
  padding: 20px;
  font-size: 1.25rem;
}

body {
  font-family: Audiowide;
  color: rgb(231, 136, 21);
  background-color: rgb(34, 34, 34);
}

/*# sourceMappingURL=style.css.map */
