
/* Links */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Gravitas+One&family=Knewave&family=Pacifico&family=Yellowtail&display=swap');

/* Setup */
@import "../setup/variables";

/* Components */
@import "../cmp/TodoIndex";
@import "../cmp/LoginSignup";
@import "../cmp//Dashboard";
@import "../cmp/Chart";
@import "../cmp/UserMsg";
@import "../cmp/AppHeader";

body{
    font-family: Audiowide;
    color: $clr1;
    background-color: $clr2;
}






